@page
@model Book_Review_UI.Pages.Identity.LoginModel

<form method="post" class="sign-in-form">
    <div asp-validation-summary="All"></div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating form-signin">
        <input type="email" class="form-control" asp-for="login.Email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        <span asp-validation-for="@Model.login.Email"></span>
    </div>
    <div class="form-floating form-signin">
        <input type="password" class="form-control" asp-for="login.Password" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <span asp-validation-for="@Model.login.Password"></span>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
</form>